* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000e5;
}

section {
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #82a6e7cb;
    width: 500px;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 2px 4px, rgb(255, 255, 255) 0px 4px 32px, rgb(255, 255, 255) 0px 6px 12px, rgb(255, 255, 255) 0px 6px 12px, rgb(255, 255, 255) 0px 2px 4px;
}

section h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: #000000;
    font-size: 17px;
    margin-bottom: 4px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 18px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-style: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus {
    border-radius: 18px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 17px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #000000;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: #ffffff;
    color: #82a6e7cb;
    border-radius: 18px;
}